/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #000; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  font-family: 'Sniglet', cursive;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  font-family: 'Sniglet', cursive;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #67ce63;
}

/* Style page content */
.main {
  width: 100%;
  height: 100%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top *//*#175730*/
  left: 0;
  background: linear-gradient(to top left , #000   , #022649);/* Black */
  overflow-x: hidden; /* Disable horizontal scroll */ 
  margin-left: 200px;
}

.line{
  border: 0.25px solid #818181;
  margin: 20px;
  margin-top: 50px;   
}

.signout{
  color: rgb(83, 83, 83);
  text-align: center;
  cursor: pointer;
}

.signout:hover{
  color: whitesmoke;
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  z-index: 1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}